
<div class="container-fluid bg-light text-center p-5 mb-5">
  <h1>Créer un compte</h1>
</div>

<div class="container">

  <!-- Remplacer le lien par path helper -->
  <p class="mb-3">J'ai déjà un compte. <a href="#">Me connecter</a></p>

  <% if(@user.errors.any?) %>
    <div class="alert alert-warning" role="alert">
      <% @user.errors.full_messages.each do |message| %>
        <%= message %>.<br/>
      <% end %>
    </div>
  <% end %>

  <%= form_for(@user) do |form| %> <!-- to test server-side error messages, add this inside (): ", html: { novalidate: true }" -->

    <div class="form-group mb-3">
      <%= form.label(:email) %>
      <%= form.email_field(:email, class: 'form-control', required: true) %>
    </div>

    <div class="form-group mb-3">
      <%= form.label(:password) %>
      <%= form.password_field(:password, class: 'form-control', required: true) %>
    </div>

    <%= form.submit('Créer un compte', class: 'btn btn-primary') %>

  <% end %>

</div>
