<div class="container-fluid bg-light text-center p-5 mb-5">
  <h1>Mon compte</h1>
</div>

<div class="container">

  <h2>Mes détails</h2>
  <p><%= link_to('Compléter / Editer mes détails', account_edit_path) %></p>
  <ul>
    <%= render(partial: 'user_detail', locals: {
      key: "Prénom",
      value: current_user.first_name }) %>
    <%= render(partial: 'user_detail', locals: {
      key: "Nom",
      value: current_user.last_name }) %>
    <%= render(partial: 'user_detail', locals: {
      key: "Email",
      value: current_user.email }) %>
    <%= render(partial: 'user_detail', locals: {
      key: "Téléphone",
      value: current_user.phone }) %>
    <%= render(partial: 'user_detail', locals: {
      key: "Adresse",
      value: current_user.address }) %>
    <%= render(partial: 'user_detail', locals: {
      key: "NPA",
      value: current_user.npa }) %>
    <%= render(partial: 'user_detail', locals: {
      key: "Ville",
      value: current_user.city }) %>
  </ul>

  <!-- if current_user has active subscritptions -->
    <h2 class="mb-5">Mes abonnements actifs</h2>
    <!-- list of active subscritptions (cards)-->
  <!-- else -->
    <p>Vous n'avez pas d'abonnement actif pour l'instant.</p>
  <!-- end -->

</div>
